$font-stack: 'Roboto', sans-serif;
$text-color: #7f2417;
$text-color-lighter: #616161;
$text-color-hover: #E9BAB3;
$background-color: #f2f7f2;


@mixin mobile {
    @media (max-width: 599px) { @content; }
}

* {
    box-sizing: border-box;
}

body { 
    background: $background-color;
    color: $text-color;
    font: 100% $font-stack;
}
a {
    text-decoration: none;
    color: $text-color;
    :hover {
        text-decoration: none;
        color: $text-color-hover;
    }
}
button {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
    color: inherit;
    background-color: inherit;
}

h1 {
    font-size: 2.5rem;
    margin: 10px 0;
}
// img {
//     width: 100%;
//     height: auto;
// }

.layout-container {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 40px;
    width: 94%;
    float: left;
    @include mobile {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 20px;
        width: 90%;
    }
}

.header {
    display: block;
    width: 15%;
    float: right;
    @include mobile {
        width: 100%;
        float: left;
    }
}
.main-content {
    display: block;
    width: 85%;
    float: right;
    @include mobile {
        width: 100%;
        float: left;
    }
}

//Menu specific:
.title {
    @include mobile {
        display: block;
        width: 90%;
        float: left;
    }
    :hover {
        color: $text-color-hover;
    }
}

.link-active {
    color: $text-color-hover;
}

.bars {
    display: none;
    @include mobile {
        //only show bars on mobile view
        display: block;
        width: 10%;
        float: left;
        margin: 10px 0;
        color: $text-color;
        cursor: pointer;
    }
}
.menu-items {
    display: block;
    @include mobile {
        // only collapse when view is mobile
        width: 100%;
        float: left;
        text-align: right;
        max-height: 0;
        transition: max-height 500ms ease-out;
        overflow: hidden;
        &.expanded {
            max-height: 800px;
        }
    }
    .menu-item {
        display: block;
        padding: 5px 0;
        font-size: 85%;
        @include mobile {
            padding: 7px 0;
        }
        :hover {
            color: $text-color-hover;
        }
    }
}
.dropdown-menu-items {
    max-height: 0;
    transition: max-height 300ms ease-out;
    overflow: hidden;
    &.expanded {
        max-height: 300px;
    }
}

.dropdown-menu-item {
    display: block;
    padding: 4px 0;
    padding-left: 10px;
    :hover {
        color: $text-color-hover;
    }
    a {
        // color: $text-color-lighter;
        font-size: 76%;
        opacity: 0.8;
    }
    @include mobile {
        padding: 6px 0;
    }
}


//Main content
.content {
    img {
        width: 100%;
    }
    .col-12 {
        width: 100%;
    }
    .col-6 {
        width: 50%;
    }
}